<article class="post-container">
  <!-- 可选：左侧跟随目录 -->
  <%- partial('_partial/toc') %>

  <div class="post-main-wrapper">
    <!-- 文章 -->
    <%- partial('_partial/article') %>
    
    <!-- giscus评论区 -->
    <%- partial('_partial/giscus') %>
  </div>
</article>