body {
  font-family: "Montserrat", "SF UI Text", "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "Segoe UI", "Helvetica Neue", Helvetica,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.6px;
  color: var(--font-color-secondary);
  background: var(--color-background);
}

.main {
  width: 100%;
  padding: 72px 0 24px;
  background: var(--color-background);
  overflow-x: hidden;
  overflow-y: visible;
  min-height: calc(100vh - 96px);
}

p {
  word-wrap: break-word;
  white-space: pre-wrap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* ul,
ol {
  list-style: none;
} */
.post-content ul {
  list-style: disc;
  padding-left: 2em; /* 保证缩进美观 */
}
.post-content ul ul {
  list-style: circle;
}

ul {
  padding-inline-start: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100vw; /* 确保占据整个视口宽度 */
  scroll-behavior: smooth;
  height: 100%;
  overflow-y: scroll;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  width: auto;
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #c1c1c2;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: var(--font-color);
}