<div class="search-pop-overlay">
  <div class="popup search-popup">
    <div class="search-header">
      <span class="search-icon">
        <img src="<%- url_for('icon/search.svg') %>" alt="Search Icon" style="width:1.2em;height:1.2em;vertical-align:middle;">
      </span>
      <div class="search-input-container">
        <input autocomplete="off" autocapitalize="off" maxlength="80"
               placeholder="<%= __('search.placeholder') %>" spellcheck="false"
               type="search" class="search-input">
      </div>
      <span class="popup-btn-close" role="button">
        <i class="fa fa-times-circle"></i>
      </span>
    </div>
    <div class="search-result-container">
      <div class="search-result-icon">
        <i class="fa fa-spinner fa-pulse fa-5x"></i> <!-- Default to spinner for local search -->
      </div>
      <div id="search-results" class="search-results-list"></div> <!-- Container for search results -->
    </div>
  </div>
</div> 