<% if (theme.toc && theme.toc.enable && page.toc !== false) { %>
  <aside id="toc-container" class="toc-container toc-left toc-expanded">
    <div id="toc-title" class="toc-title"><%= page.title %></div>
    <div id="toc-content" class="toc-content">
      <%- toc(page.content) %>
    </div>
  </aside>
<% } %> 

<%- js('js/toc.js') %>